@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Regular.woff2') format('woff2'),
       url('./assets/fonts/Inter-Regular.woff') format('woff'),
       url('./assets/fonts/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} 

@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/Outfit-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} 
  
  html {
    min-height: 100%;
    background: linear-gradient(219deg, #3C494F 22.57%, #1D2145 55.01%) !important;
    background-attachment: fixed;
  }

  body {
    margin: 0;
    font-family: "Inter", "Times New Roman", system-ui, sans-serif !important;
    min-height: 100%;
    color:white;
  }

  button {
    font-family: "Inter", "Times New Roman" !important;
  }

  :root {
  --layout-grid-header-height: 32px;
  --layout-grid-margin: 32px;
  font-family: "Inter", "Times New Roman" !important;
  background: #f5f7fb;
  color: #1f2933;
}

* {
  box-sizing: border-box;
}

app-root {
  min-height: 100vh;
  display: block;
}

div.ag-theme-quartz,
div.ag-theme-quartz-dark {
  --ag-row-height: 42px;
}

@media screen and (max-width: 720px) {
  div.ag-theme-quartz,
  div.ag-theme-quartz-dark {
    --ag-font-size: 12px;
    --ag-grid-size: 6px;
  }
}

.ag-theme-quartz .ag-row-group .ag-icon,
.ag-theme-quartz-dark .ag-row-group .ag-icon {
  opacity: 0.5;
}

.ag-theme-quartz .ag-row,
.ag-theme-quartz-dark .ag-row {
  border-bottom: none;
  font-family: "Inter", "Times New Roman";
}

.ag-theme-quartz .ag-row:not(.ag-row-level-1),
.ag-theme-quartz-dark .ag-row:not(.ag-row-level-1) {
  overflow: hidden;
  color: #c9d0da !important;
  background-color: transparent !important;
}

.ag-theme-quartz .ag-row:not(.ag-row-level-1)::before,
.ag-theme-quartz-dark .ag-row:not(.ag-row-level-1)::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  transition: background-color 0.33s ease-in-out;
}

.ag-theme-quartz .ag-cell-expandable,
.ag-theme-quartz-dark .ag-cell-expandable {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ag-theme-quartz .ag-cell,
.ag-theme-quartz-dark .ag-cell {
  display: flex;
  align-items: center;
}

.ag-theme-quartz .ag-right-aligned-cell,
.ag-theme-quartz-dark .ag-right-aligned-cell {
  justify-content: flex-end;
}

.ag-theme-quartz-dark .ag-header {
  color: #c9d0da !important;
  background-color: rgba(0, 0, 0, 0.30) !important;
  font-weight: 700;
  border-bottom: none;
  border-right: none;
  font-family: "Inter", "Times New Roman";
}

.ag-theme-quartz .ag-header {
  background-color: #f9fafb;
  color: #39485d;
  border: 1px solid #eff0f1;
}

.ag-theme-quartz .ag-header-cell-text,
.ag-theme-quart-dark .ag-header-cell-text {
  color: #1f383c;
  display: flex;
  align-items: center;
}

.ag-theme-quartz-dark .ag-header-cell-text {
  color: #c9d0da;
}

.ag-theme-quartz .ag-root-wrapper,
.ag-theme-quartz-dark .ag-root-wrapper {
  border:1px solid #647D8B;
  color: #c9d0da !important;
  background-color: rgba(0, 0, 0, 0.30) !important;
  border-radius: 0;
}

.ag-theme-quartz .ag-full-width-container .ag-row,
.ag-theme-quartz-dark .ag-full-width-container .ag-row,
.ag-theme-quartz .ag-full-width-container .ag-details-row,
.ag-theme-quartz-dark .ag-full-width-container .ag-details-row {
  background-color: transparent;
}

.ag-theme-quartz .ag-details-row,
.ag-theme-quartz-dark .ag-details-row {
  padding: 16px;
}

.ag-theme-quartz .ag-paging-panel {
  height: 40px;
}

.ag-theme-quartz .ag-paging-panel > span:last-child {
  margin-right: 0;
}

.ag-center-cols-viewport {
  min-height: unset !important;
}

.wrapper {
  min-height: 90vh;
}

.container {
  width: 100%;
}

.ag-body{
  color: #c9d0da !important;
  background-color: rgba(0, 0, 0, 0.30) !important;
  border:1px solid #647D8B;
  border-left: none;
  border-right: none;
}

.ag-body-horizontal-scroll-viewport{
  overflow: hidden;
}

.ag-cell{
  border-right: 1px solid var(--Colours-Neutral-Neutral-6, #647D8B);
  border-bottom: 1px solid var(--Colours-Neutral-Neutral-6, #647D8B);
}
.ag-header-cell{
  border-right: 1px solid var(--Colours-Neutral-Neutral-6, #647D8B);
}

.ag-wrapper{
  color: #c9d0da !important;
  background: var(--Colours-Neutral-Neutral-9, #252F34) !important;
  border:1px solid #647D8B;
}

.grid {
  --ag-header-background-color: transparent;
  height: calc(
    100vh - var(--layout-grid-header-height) - 132px - var(--layout-grid-margin)
  );
  margin: 0 var(--layout-grid-margin) var(--layout-grid-margin);
}

@media screen and (max-height: 720px) {
  .grid {
    min-height: 500px;
    padding-bottom: 24px;
  }
}

.grid-root {
  width: 100%;
  height: 100%;
}

.exampleHeader {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  margin: var(--layout-grid-margin) var(--layout-grid-margin) 0;
  margin-top: 0px;
}

.price {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.price span {
  line-height: 100%;
}

.increase {
  opacity: 0.7;
}

.tabs {
  display: flex;
  overflow: hidden;
  color: #B8C5CC;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px; /* 150% */
}

.tabButton {
  appearance: none;
  display: inline-block;
  align-items: center;
  gap: 8px; 
  padding: 0.375em 1em;
  white-space: nowrap;
  border: none;
  background-color: transparent;
  cursor: pointer;
  box-shadow: none;
  color: #B8C5CC;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px; /* 150% */
  transition:
    background 0.3s,
    color 0.3s;
}

.tabButton:hover {
  background: color-mix(in srgb, var(--color-fg-secondary) 13%, transparent);
  color: var(--color-text-secondary, #ffffff);
}

.tabButton.active {
  color: #FBBF24;
  border-bottom: 2px solid #FBBF24;
}

.ag-theme-quartz-dark .ag-header-cell-text:before {
  filter: invert(1);
}

.stockText {
  opacity: 0.7;
}

.variantsText {
  opacity: 0.7;
}

.buttonCell {
  display: flex;
  gap: 8px;
  flex-direction: row-reverse;
  align-items: center;
}

.buttonCell button {
  appearance: none;
  display: inline-block;
  padding: 0.375em 1em 0.5em;
  white-space: nowrap;
  outline: none;
  color: #E7ECEE;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid var(--Colours-Neutral-Neutral-5, #8C8C8C);
  background: var(--Colours-Neutral-Neutral-1, #262626);
}

.buttonStopSelling {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.tag {
  border-radius: 8px;
  padding-left: 4px;
  padding-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--Colours-Information-Blue-Info-Blue-1, #002766) !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 24px;
}

.UnassignedTag {
  background-color: #F0F0F0;
}

.LowTag {
  background-color: #91D5FF;
}

.HighTag {
  background: var(--Colours-Error-Red-Red-8, #FFA39E);
}

.MediumTag {
  background: var(--Colours-Warning-Gold-Gold-8, #FFE58F);
}

.circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 8px;
  margin-left: 6px;
}

.UnassignedCircle {
  background-color: #949494;
}

.LowCircle {
  background-color: #6d9b7e;
}

.HighCircle {
  background-color: #ea5353;
}

.MediumCircle {
  background-color: #a06d37;
}

.ag-wrapper{
  border-radius: var(--ag-border-radius, 3px);
  border-top: var(--input-filter-border-width-top, 1px) solid var(--Colours-Neutral-Neutral-6, #647D8B);
  border-right: var(--input-filter-border-width-right, 1px) solid var(--Colours-Neutral-Neutral-6, #647D8B);
  border-bottom: var(--input-filter-border-width-bottom, 1px) solid var(--Colours-Neutral-Neutral-6, #647D8B);
  border-left: var(--input-filter-border-width-left, 1px) solid var(--Colours-Neutral-Neutral-6, #647D8B);
  opacity: 0.8;
  background: var(--Colours-Neutral-Neutral-9, #252F34);
}

.ag-input-field-input{
  background: transparent;
  color: var(--color-text-secondary, #B8C5CC);
}

.ag-floating-filter{
  border-top: var(--input-filter-border-width-top, 1px) solid var(--Colours-Neutral-Neutral-6, #647D8B);
  padding: 12px;
}

.tabBadge {
  height: 24px;
  padding: 0 10px;

  border-radius: 99px;
  background: var(--Colours-Warning-Warning-6, #F59E0B);

  color: var(--Colours-Neutral-Neutral-9, #252F34);

  font-size: 16px;
  font-weight: 500;
  line-height: 24px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.header {
  width: 100%;
  height: 100px;
  /* border-bottom: 1px solid #dddddd; */
}

.top-container {
  display: flex;
  justify-content: center; /* horizontal center */
}

/* Style for the icon at the top */
.top-icon {
  margin-top:32px;
  width: 64px;
  height: 64px;
}

.exampleHeader {
  display: flex;
  align-items: center;
  justify-content: space-between; /* 👈 pushes export left, tabs right */
}

.exportButton {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  padding: 8px 14px;

  border-radius: 4px;
  border: 1px solid var(--Colours-Neutral-Neutral-5, #8C8C8C);
  background: var(--Colours-Neutral-Neutral-3, #434343);

  cursor: pointer;
}

.exportIcon {
  color: var(--Colours-Neutral-Neutral-6, #BFBFBF);
  text-align: center;
  font-family: "Font Awesome 6 Free";
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.exportText {
  color: var(--Colours-Neutral-Neutral-6, #BFBFBF);

  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin:0 !important;
}

.exportButton:hover {
  background: #4a4a4a;
  border-color: #a3a3a3;
}

.exportButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.ag-theme-quartz .ag-header-cell-menu-button {
  opacity: 1 !important;
  visibility: visible !important;
}

.ag-theme-quartz .ag-header-cell-resize {
  opacity: 1 !important;  
  width: 2px;            
  cursor: col-resize;
}

.detailPage {
  padding: 24px;
}

.breadcrumb {
  font-size: 24px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: Outfit;
}

.breadcrumb-link {
  border: none;
  background-color: transparent;
  cursor: pointer;
  box-shadow: none;
  color: #B8C5CC;
  line-height: 27px; /* 150% */
  transition:
    background 0.3s,
    color 0.3s;
}

.breadcrumb-link:hover {
  background: color-mix(in srgb, var(--color-fg-secondary) 13%, transparent);
  color: var(--color-text-secondary, #ffffff);
}

.hidden {
  display: none;
}

.details-body {
  height: calc(
    100vh - var(--layout-grid-header-height) - 200px - var(--layout-grid-margin)
  );
  margin: 0 var(--layout-grid-margin) var(--layout-grid-margin);

  display: flex;
  gap: 16px;
  align-items: flex-start;
  overflow: hidden;
  font-family: Outfit;
  font-size: 16px;
}

.video-preview {
  display: flex;
  width: 571px;
  height: 689px;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex-shrink: 0;

  border-radius: 4px;
  background: var(
    --colours-shades-black-30,
    rgba(0, 0, 0, 0.30)
  );
}

.case-details {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;

  flex: 1;
  height: 100%;
  padding: 32px;
  border-radius: 4px;
  background: var(
    --colours-shades-black-30,
    rgba(0, 0, 0, 0.30)
  );
}

.case-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  height: 100%;
}

/* Title */
.case-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 32px;
}

/* Content container */
.case-content {
  display: flex;
  flex-direction: column;
  gap: 20px; /* space between rows */
  width: 100%;
  font-family: Inter;
}

/* Each row */
.case-row {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

/* Left label column */
.case-label {
  width: 220px; /* fixed label column width */
  color: var(--Colours-Neutral-Neutral-1, #F7F9F9);

  /* Body/Strong */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}

/* Right value column */
.case-value {
  flex: 1;
  color: #F7F9F9;
  word-break: break-word;
}

.thumbnail-reel {
  display: flex;
  overflow: hidden;
  gap: 8px;
  width: 100%;
}

.thumb {
  height: 110px;
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.2s;
}

.thumb:hover {
  border: 3px solid var(--Colours-Warning-Warning-5, #FBBF24);
}

.thumbnail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0; /* spacing above thumbnails */
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  width: 100%;
}